#
#  aliases to stop, start, and remove a env
#
alias env-stop='docker stop {% for item in combined_instances %}
{{ item.name }} 
{%- if not loop.last %} {% endif %}
{%- if loop.last %}'{% endif %}
{%   endfor %}

alias env-start='docker start {% for item in combined_instances %}
{{ item.name }} 
{%- if not loop.last %} {% endif %}
{%- if loop.last %}'{% endif %}
{%   endfor %}

alias env-destroy='docker rm {% for item in combined_instances %}
{{ item.name }} 
{%- if not loop.last %} {% endif %}
{%- if loop.last %}'{% endif %}
{%   endfor %}

alias env-status="docker ps -a -f 'name={% for item in combined_instances %}
{{ item.name }}
{%- if not loop.last %}|{% endif %}
{%- if loop.last %}'{% endif %}
{%   endfor %}
 --format={% raw %}'{{.Names}} - {{.Status}}'{% endraw %}"
