{% for instance in combined_instances | default(envy_instances) %}
{% if instance.ssh is defined and instance.ssh == false %}
#  Hostname is not an ssh host use: nv login {{ instance.name }}
{% else %}
Host {{ instance.name }} {{ instance.name }}.{{ envy_default_domain }}
{%      if ansible_system == "Darwin" %}
  Hostname {{ hostvars[instance.name].mac_ansible_ssh_host }}
  Port {{ hostvars[instance.name]['ansible_ssh_port'] }}
{%      elif ansible_system == "Linux" %}
  Hostname {{ hostvars[instance.name].linux_ansible_ssh_host }}
{%      endif %}
  User {{ envy_ssh_user }}
  IdentityFile  ~/.ssh/{{ envy_ssh_private_key_file }}
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  LogLevel QUIET
  ControlMaster auto
  ControlPath /tmp/%h-%p-%r
  ControlPersist 5m
{%  endif %}
{% endfor %}

