; {{ ansible_managed }}

[defaults]
inventory         = inventory
{%      if ansible_system == "Darwin" %}
transport         = local
{%      endif %}

[ssh_connection]
ssh_args          = -F ssh.cfg

# Replace the above if you want to use a jumpbox
#
#ssh_args                    = -F utilities/ssh-jumpbox.cfg

