#
# This file was automatically created by Ansible, and may be over-written
#


[all]
app ansible_host=localhost ansible_ssh_port=32778
appdb ansible_host=localhost ansible_ssh_port=32779
control ansible_host=localhost ansible_ssh_port=32776

[appdbs]
appdb ansible_host=localhost ansible_ssh_port=32779

[apps]
app ansible_host=localhost ansible_ssh_port=32778

[control_node]
control ansible_host=localhost ansible_ssh_port=32776

[all:vars]
ansible_ssh_user: vagrant
#remote_user: vagrant
ansible_ssh_private_key_file: ~/.ssh/vagrant.pem
